.cards {
	display: flex;
	flex-wrap: wrap;
}




.card {
	margin: 10px auto;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.card img {
	border-radius: 5px;
}

.card h2 {
	margin: 10px auto;
	font-weight: 20px;

}
